# Security / Keys
*.pem
*.key

# Logs and Runtime Data
*.jsonl
*.log
activity.jsonl
alerts.jsonl

# Datasets and Outputs
*.csv
*.html

# Model Artifacts
*.pkl

# Python cache
__pycache__/
*.pyc

# Recon output
hacktify_recon/
controllerreal.py
appreal.py
appreal.py
draftcontrollers/
appreal.py
draftcontrollers/
